# Standards
package-lock.json
yarn-lock.json
yarn.lock
#.next
.next
html

### OSX template
.DS_STORE
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log
logs
npm-debug.log
*.log
npm-debug.log*
.vscode
logs
stats.json
