// Mobile styles
$breakpoint-mm-max: 480px;
$breakpoint-sm-max: 575px;
$breakpoint-md-max: 768px;
$breakpoint-lg-max: 1100px;
$breakpoint-xlg-max: 1500px;

// Small devices
@mixin mm {
	@media (max-width: #{$breakpoint-mm-max}) {
		@content;
	}
}

// Small devices
@mixin sm {
	@media (max-width: #{$breakpoint-sm-max}) {
		@content;
	}
}

// Medium devices
@mixin md {
	@media (max-width: #{$breakpoint-md-max}) {
		@content;
	}
}

// Large devices
@mixin lg {
	@media (max-width: #{$breakpoint-lg-max}) {
		@content;
	}
}

@mixin xlg {
	@media (max-width: #{$breakpoint-xlg-max}) {
		@content;
	}
}

html,
body {
	font-size: 14px;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
	@include md {
		width: 100%;
		height: 100%;
		position: absolute;
	}
}

* {
	box-sizing: border-box;
	word-break: break-word;
}

img {
	max-width: 100%;
}

main {
	display: table;
	width: 100%;
	height: 100%;
	position: absolute;
	table-layout: fixed;
	width: 100%;
	overflow: hidden;
	> div {
		display: table-cell;
		width: 76%;
	}
	@include md {
		display: block;
		> div {
			display: table-cell;
			width: 100%;
		}
	}
}

.clickable,
a {
	color: inherit;
	text-decoration: none;
	color: #940d0d;
	text-decoration: underline;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 4rem;
	a {
		color: #0070f3;
		text-decoration: none;
		&:hover,
		&:focus,
		&:active {
			text-decoration: underline;
		}
	}
}

.title,
.description {
	font-size: 0px;
	text-align: center;
}

code {
	background: #fafafa;
	border-radius: 5px;
	padding: 0.75rem;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
		DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.card {
	margin: 1rem;
	flex-basis: 45%;
	padding: 1.5rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;
	&:hover,
	&:focus,
	&:active {
		color: #0070f3;
		border-color: #0070f3;
	}
	h3 {
		margin: 0 0 1rem 0;
		font-size: 1.5rem;
	}
	p {
		margin: 0;
		font-size: 1.25rem;
		line-height: 1.5;
	}
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 5px 0;
	font-size: 10px;
	border-top: 1px solid #eaeaea;
	color: silver;
	img {
		margin: 0;
		margin-right: 0.1rem;
	}
}

button {
	font-size: 15px;
	border: 0;
	background: #ed1813;
	color: white;
	padding: 5px 10px;
	font-weight: 300;
	width: 100%;
	cursor: pointer;
}

.popup {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.4);
	overflow-x: auto;
}

.mapArea {
	width: 75%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: table-cell;
	@include md {
		width: 100%;
	}
}

.container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}

.tbf {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.tbf-c {
	display: table-cell;
}

.form {
	width: 400px;
	min-height: 500px;
	background: white;
	padding: 20px;
	font-size: 15px;
	max-height: 100%;
	overflow: hidden;
	overflow-y: auto;
	position: relative;
	margin: auto;
	h2 {
		text-align: center;
		margin-top: 0;
	}
	button {
		font-size: 20px;
		padding: 15px 20px;
	}
	ul {
		margin-bottom: 20px;
		padding-left: 20px;
		list-style: circle;
	}
	.label {
		padding-bottom: 5px;
		color: dimgrey;
		padding-top: 2px;
	}
}

textarea,
input {
	width: 100%;
	max-width: 100%;
	padding: 10px;
	border: 1px solid #dadada;
	margin-bottom: 10px;
}

.gm-ui-hover-effect {
	opacity: 0.6;
	display: none !important;
}

.gm-style .gm-style-iw-d,
.gm-style .gm-style-iw-c {
	overflow: auto !important;
	padding: 0;
	width: 200px;
	min-height: 90px;
}

.infw {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 15px 10px;
	font-size: 14px;
	.close {
		cursor: pointer;
		width: 15px;
		position: absolute;
		right: 5px;
		top: 5px;
		img {
			width: 100%;
		}
	}
}

textarea:required + label:after,
input:required + label:after {
	content: "*";
	color: #ed1812;
	position: absolute;
	margin-top: 10px;
	font-size: 23px;
	right: 30px;
}

select,
textarea,
input {
	font-size: 15px;
	outline-color: #ff0700;
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul {
	color: dimgrey;
	margin-bottom: 20px;
	li {
		margin-bottom: 5px;
	}
}

textarea:required,
input:required {
	border-color: #e99090;
	padding-right: 25px;
}

body.subsc {
	main {
		.mainBlock,
		.mapArea {
			padding-top: 60px;
			@include md {
				padding-top: 0;
			}
		}
	}
}

.mainBlock {
	height: 100%;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	top: 0;
	right: 0;
	z-index: 1;
	background: white;
	display: table-cell;
	max-width: 500px;
	position: absolute;
	vertical-align: top;
	width: 25%;

	.resizer {
		position: absolute;
		top: 100px;
		left: -35px;
		background: #ed1812;
		color: white;
		padding: 10px;
		cursor: pointer;
		z-index: 10;
		&:after {
			content: "";
			position: fixed;
			height: 40%;
			width: 50px;
			margin-left: -39px;
			margin-top: 27px;
		}
		@include md {
			top: -20px;
			height: 40px;
			text-align: center;
			padding: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 100%;
			svg {
				display: none;
			}

			&:after,
			&:before {
				content: "";
				border-top: 1px solid rgba(255, 255, 255, 0.4);
				position: absolute;
				top: 10px;
				width: 40px;
				left: 0;
				right: 0;
				margin: auto;
			}
			&:before {
				width: 40px;
				height: 8px;
				font-weight: 100;
				border-bottom: 1px solid rgba(255, 255, 255, 0.4);
			}
			&:after {
				top: 30px;
			}
		}
	}
	.hidden {
		overflow: hidden;
		display: block;
		position: relative;
		height: 100%;
	}
	.filterNavi {
		padding-bottom: 10px;
		border-bottom: 1px solid #dadada;
		padding: 10px 20px;
		margin-left: -10px;
		margin-right: -10px;
		position: relative;
		width: auto;
		background: #ededed;
		.sep {
			width: 10px;
		}
		.fitem {
			width: 49%;
			padding: 4px;
			background: white;
			border: 1px solid #ccc;
			select {
				width: 100%;
				border: none;
				background: none;
				outline: none;
				box-shadow: none;
			}
		}
	}
	.block {
		width: 100%;
		&.activityArea {
			height: 100%;
			position: relative;
		}
		&.makeMark {
			text-align: center;
			border-bottom: 1px solid #dadada;
			padding: 10px 20px;
			margin-left: -10px;
			margin-right: -10px;
			position: relative;
			width: auto;
			@include md {
				position: fixed;
				top: 0;
				width: 70%;
				left: 0;
				margin: auto;
				right: 0;
				z-index: 10;
				border: 0;
			}
		}
	}
	.makeMark-mb {
		position: fixed;
		right: 10px;
		width: 40px;
		top: 74px;
		height: 40px;
		border-radius: 50%;
		z-index: 10;
		color: white;
		background: #ed1812;
		border: 1px solid #e91e18;
		display: flex;
		padding: 6px;
		box-shadow: 0 0 0 rgb(237, 24, 18);
		animation: pulse 2s infinite;
		svg {
			width: 100%;
		}
	}
	img {
		margin-left: 0.5rem;
	}

	.activityArea {
		ol {
			display: table;
			table-layout: fixed;
			width: 100%;
			border-bottom: 1px solid #dadada;
			li {
				text-align: center;
				border-right: 1px solid #eaeaea;
				padding: 7px 5px;
				cursor: pointer;
				display: table-cell;
				vertical-align: middle;
				height: 40px;
				position: relative;
				&.act {
					object,
					svg,
					img {
						margin: 0;
						width: 25px;
					}
				}
				svg {
					.path1 {
						fill: #d8d8d8;
					}
				}
				&.pin {
					width: 40px;
					background: #efefef;
				}
				&:last-child {
					border: 0;
				}
				&.active:after {
					content: "";
					position: absolute;
					width: 100%;
					bottom: 0;
					left: 0;
					border-bottom: 2px solid #ed1812;
				}
			}
		}
		&.news .activity {
			margin-left: -100%;
		}
		&.acts .activity {
			margin-left: 0;
		}
		&.local {
			ol li.active:after {
				display: none;
			}
			svg {
				.path1 {
					fill: #ed1812;
				}
			}
			.activity {
				margin-left: 100%;
			}
		}
		.activity {
			transition: all 0.5s;
			.bb {
				padding: 10px;
				transition: all 0.5s;
				position: absolute;
				width: 100%;
				height: 100%;
				padding-bottom: 220px;
				overflow-y: auto;
				background-color: #ededed;
			}
			.b1 {
				.author {
					h3 {
						margin-bottom: 5px;
					}
					.infc {
						margin-bottom: 10px;
						span {
							border-right: 1px solid #d8d8d8;
							padding-right: 7px;
							margin-right: 7px;
							color: #949494;
							b {
								font-size: 11px;
								width: 10px;
								height: 10px;
								vertical-align: baseline;
								margin-right: 5px;
							}
							&:last-child {
								border: 0;
							}
						}
					}
				}
			}
			.b2 {
				margin-left: -100%;
			}
			.b3 {
				margin-left: 100%;
			}
			.author {
				position: relative;
				padding: 10px;
				border: 1px solid #e1e1e1;
				background-color: white;
				margin-bottom: 10px;
				h3 {
					margin: 0;
					margin-bottom: 10px;
					&.clickable {
						text-decoration: underline;
					}
				}
				.src {
					margin-bottom: 5px;
					margin-top: 5px;
				}
				iframe {
					width: 100%;
					height: 100%;
				}
			}
			.comments {
				h3 {
					margin-bottom: 5px;
				}
				.cm {
					margin-bottom: 8px;
					.chead {
						display: flex;
						align-items: center;
						margin-bottom: 4px;
						span {
							font-size: 10px;
							color: #929292;
							padding-left: 3px;
						}
					}
				}
			}
		}

		.imgb {
			img {
				width: 35%;
				float: left;
				margin-right: 10px;
			}
		}
		.desc {
			position: relative;
			br {
				display: none;
			}
			p {
				margin: 0;
				display: inline;
			}
		}
		.author.shown {
			.desc {
				p {
					margin: 10px 0;
					display: block;
				}
			}
		}
		.source {
			text-align: left;
			display: inline-block;
			width: 100%;
			margin-top: 5px;
			a {
				display: inline-block;
			}
		}
		.showh {
			position: absolute;
			bottom: 10px;
			right: 10px;
			border: 1px solid #a5a5a5;
			width: 20px;
			height: 20px;
			text-align: center;
			line-height: 16px;
		}
		.b3 {
			.desc {
				position: relative;
				height: 35px;
				overflow: hidden;
				display: inline-block;
				.cont {
					height: 200px;
					white-space: pre-wrap;
					position: relative;
					overflow: hidden;
				}

				&.act {
					height: 100%;
					overflow: visible;
					.showh {
						background: none;
					}
				}
			}
		}
		@include md {
			border-top: 1px solid #d0d0d0;
		}
	}

	.subscribe {
		height: 60px;
		padding: 15px 0;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: #2e2e2e;
		color: white;
		transition: all 0.3s;
		> div,
		h2 {
			vertical-align: middle;
		}
		h2 {
			font-size: 15px;
			text-align: center;
			padding: 0 20px;
		}
		img {
			margin: 0;
			cursor: pointer;
			width: 30px;
			padding: 5px;
			border: 1px solid #ffffff;
			border-radius: 50%;
			margin-right: 5px;
			&.selected {
				border: 1px solid #ff0700;
			}
		}
		.closec {
			width: 15px;
			height: 15px;
			position: absolute;
			right: 20px;
			top: 0;
			bottom: 0;
			margin: auto;
		}
		.swb {
			height: 50%;
			text-align: center;
			position: relative;
			cursor: pointer;
			background: #1b1b1b;
			&:first-child {
				border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			}
			&.selected {
				background-color: #d4130e;
			}
			svg {
				width: 20px;
				vertical-align: middle;
				margin: auto;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				position: absolute;
			}
		}
		.centrize {
			display: flex;
			align-items: center;
		}
		.sel {
			width: 450px;
		}
		.inpf {
			display: flex;
			align-items: center;
			width: 100%;
			&.phone {
				select,
				input {
					height: 30px;
				}
				select {
					width: 60px;
					margin-right: 3%;
				}
				input {
					width: 70%;
					margin-right: 3%;
				}
			}
			&.email {
				input {
					margin-right: 3%;
				}
			}
			input,
			select {
				border-color: white;
				background: none;
				color: white;
			}
			input {
				border-radius: 5px;
				margin: 0;
				padding: 6px 10px;
			}
		}

		button {
			width: 50px;
			border-radius: 5px;
			padding: 6px 0;
			svg {
				width: 13px;
			}
		}
		.submb {
			display: none;
			@include md {
				display: block;
				position: fixed;
				right: 5px;
				bottom: 120px;
				img {
					cursor: pointer;
					border: 1px solid #242020;
					background: #272727;
					box-shadow: 0 0 0 rgb(237, 24, 18);
					animation: pulse 2s infinite;
					width: 40px;
					padding: 8px;
				}
			}
		}
		@include md {
			position: fixed;
			right: -100%;
			left: auto;
			height: 200px;
			bottom: 0;
			top: auto;
			> div,
			h2 {
				display: block;
			}
			h2 {
				font-size: 18px;
			}
			.closec {
				display: none;
			}
			.centrize {
				display: block;
				text-align: center;
			}
			.inpf {
				padding: 0 20px;
				padding-top: 10px;
			}
			&.active {
				right: 0;
			}
		}
	}

	.socials {
		position: absolute;
		margin: auto;
		text-shadow: 0 0 black;
		top: auto;
		width: 100%;
		bottom: 0;
		.sct {
			display: block;
			text-align: center;
			background: #343434;
			color: white;
			padding: 4px 0;
			font-weight: 200;
			@include md {
				display: none;
			}
		}
		.share-links {
			display: table;
			table-layout: fixed;
			width: 100%;
			a {
				padding: 9px 0;
				padding-top: 11px;
				text-align: center;
				background: #515151;
				display: inline-block;
				display: table-cell;
				vertical-align: middle;
				svg {
					width: 17px;
					font-size: 20px;
					color: #fdfdfd;
				}
				&.fb {
					background-color: #3764c2;
				}
				&.tw {
					background-color: #09b3e7;
				}
				&.ld {
					background-color: #0072a9;
				}
				&.rdd {
					background-color: #ff5700;
				}
				&.vk {
					background-color: #4087d6;
				}
				&.od {
					background-color: #ed812b;
				}
				&.pocket {
					background-color: #ee4056;
				}
				&.skype {
					background-color: #00aff0;
				}
				&.whatsapp {
					background-color: #00b180;
				}
				&.telegram {
					background-color: #0097e3;
				}
				&.viber {
					background-color: #6e1aa7;
				}
				&.email {
					background-color: #3e3e3e;
				}
			}
		}
	}
	@include md {
		display: block;
		width: 100%;
		max-width: 100%;
		height: 100%;
		bottom: 0;
		top: auto;
		position: fixed;
		.hidden {
			padding-top: 20px;
		}
	}
}

time {
	font-size: 10px;
	margin-top: 3px;
	display: block;
	color: #8e8e8e;
}

.skeleton {
	display: table;
	width: 100%;
	.skeleton-content {
		display: table-cell;
		width: 100%;
		vertical-align: top;
	}
	.skeleton-content {
		.skeleton-title {
			width: 100%;
			height: 16px;
			margin-top: 16px;
			background: #f2f2f2;
			margin: 0;
			padding: 0;
			+ .skeleton-paragraph {
				margin-top: 24px;
			}
		}
		.skeleton-paragraph {
			padding: 0;
			list-style: none;
			> li {
				width: 100%;
				height: 16px;
				list-style: none;
				background: #f5f5f5;
				background: -webkit-gradient(
					linear,
					ƒ left top,
					right top,
					color-stop(25%, #f7f7f7),
					color-stop(37%, #e5e5e5),
					color-stop(63%, #f7f7f7)
				);
				background: linear-gradient(
					90deg,
					#f7f7f7 25%,
					#e5e5e5 37%,
					#f7f7f7 63%
				);
				background-size: 400% 100%;
				-webkit-animation: skeleton-loading 1.4s ease infinite;
				animation: skeleton-loading 1.4s ease infinite;
			}
		}
	}
}

.marks img {
	width: 100%;
}

.shifting {
	transition: all 0.2s;
}

.subss {
	font-size: 17px;
	font-weight: bold;
	padding-left: 10px;
}

.formacc {
	font-size: 17px;
	color: #da0803;
	margin-top: 30px;
	border-top: 1px solid #7c7c7c;
	padding-top: 10px;
	font-weight: bold;
}

.contentCooking {
	padding: 20px;
	text-align: center;
	font-weight: bold;
	color: #848484;
	position: relative;
	filter: grayscale(100%);
	img {
		margin: 0;
		max-width: 80px;
		display: none;
	}
	.txt {
		font-size: 15px;
		width: 100%;
		bottom: 31px;
		left: 0;
		padding: 10px 0;
		font-weight: 200;
	}
}

.login {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #f3f3f3;
	.lgc {
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.form {
		min-height: auto;
		height: 300px;
		top: 0;
		bottom: 0;
		margin: auto;
		position: absolute;
		left: 0;
		right: 0;
		border: 1px solid #dcdcdc;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.error {
		text-align: center;
		padding-bottom: 20px;
		color: #ed1812;
		font-weight: 700;
	}
}

$component-dimension: 180px;
$timing: 2s;
$color_selective_yellow_approx: #feb703;
$pan-color-light: #3949ab;
$pan-color-dark: #5c6bc0;
$color-shadow: lightgray;

.panLoader {
	margin: auto;
	position: absolute;
	z-index: 100;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: $component-dimension;
	height: $component-dimension;
	.pploader {
		position: relative;
		top: 9%;
		left: 0;
		z-index: -1;
		width: 60%;
		height: 45%;
		border: 10px solid transparent;
		border-bottom: 10px solid $color_selective_yellow_approx;
		border-radius: 50%;
		animation: loader $timing infinite;
		animation-timing-function: linear;
	}
	.panContainer {
		display: flex;
		width: 100%;
		animation: pan $timing infinite;
	}
	.pan {
		width: 60%;
		height: 20px;
		background: linear-gradient($pan-color-light, $pan-color-dark);
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
	}
	.handle {
		width: 40%;
		height: 10px;
		background: linear-gradient($pan-color-light, $pan-color-dark);
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	.shadow {
		position: relative;
		top: 15%;
		left: 15%;
		width: 30%;
		height: 8px;
		background: $color-shadow;
		border-radius: 20px;
		animation: shadow $timing infinite;
	}
}

.b {
	background: #616161;
	padding: 1px 5px;
	color: white;
	border-radius: 3px;
	&.circ {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		line-height: 20px;
		display: inline-block;
		vertical-align: sub;
		margin-right: 10px;
	}
	&.suspicion,
	&.hidden {
		background: #ed6200;
	}
	&.published {
		background: #26b95a;
	}
	&.witness {
		background: #02c094;
	}
	&.source {
		background: #cc2f7f;
	}
	&.source {
		background: #902fcc;
	}
	&.infected {
		background: #ed1813;
	}
	&.mortal {
		background: black;
	}

	select {
		background: none;
		border: none;
		color: white;
	}
}

.selcond {
	margin-bottom: 10px;
	h5 {
		margin: 0;
		margin-bottom: 5px;
	}
	span {
		margin-right: 10px;
		cursor: pointer;
		input {
			display: inline-block;
			width: auto;
			margin-right: 5px;
		}
	}
}

.awrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	.aheader {
		width: 200px;
		background: white;
		position: absolute;
		height: 100%;
		border-right: 1px solid #dcdcdc;
		z-index: 1;

		.al {
			padding: 20px;
			text-align: center;
			font-size: 25px;
			font-weight: bold;
			text-transform: uppercase;
			border-bottom: 1px solid #dcdcdc;
			background: #3a3a3a;
			color: white;
			.logout {
				display: block;
				font-size: 12px;
				margin-top: 10px;
				color: #ff8380;
				cursor: pointer;
			}
		}
		nav {
			margin-top: 10px;
			li {
				list-style: none;
				font-size: 15px;
				padding: 8px 15px;
				border-bottom: 1px solid #dcdcdc;
				cursor: pointer;
				&.current {
					color: #bc3a3b;
					font-weight: bold;
				}
			}
		}
	}

	.amain {
		position: absolute;
		height: 100%;
		width: 100%;
		padding-left: 200px;
		background: whitesmoke;

		.bbody {
			padding: 30px;
			h1 {
				margin-bottom: 30px;
			}
			.selinp {
				margin-bottom: 15px;
				select {
					display: inline-block;
					width: 63%;
					margin-right: 2%;
					background: white;
					height: 44px;
					border-radius: 0;
				}
				input {
					margin: 0;
					display: inline-block;
					width: 35%;
				}
			}
			textarea:required + label:after,
			input:required + label:after {
				margin-top: -10px;
			}
		}
		.amarkers {
			background: white;
			border: 1px solid #dcdcdc;
			margin: 10px 0;
			.amko {
				position: relative;
				&:nth-child(odd) .amk {
					background: #f3f3f3;
				}
				.innerc {
					border-top: 1px solid #e7e7e7;
					border-bottom: 1px solid #e7e7e7;
					padding: 21px;
					display: table;
					width: 100%;
					table-layout: fixed;
					.blc {
						display: table-cell;
						padding-right: 40px;
						position: relative;
						&:first-child {
							width: 30%;
						}
						&:after {
							content: "";
							position: absolute;
							right: 20px;
							top: 0;
							bottom: 0;
							border-right: 1px dashed #d6d6d6;
						}
						&:last-child:after {
							display: none;
						}
					}
					.mkdel {
						position: absolute;
						right: 10px;
						width: 60px;
						bottom: 0;
						padding: 1px 0;
					}
				}
			}
			.amk {
				position: relative;
				margin: 0;
				li {
					display: table-cell;
					padding: 10px;
					vertical-align: middle;
					&.cl {
						width: 50px;
						text-align: center;
						span {
							background: white;
							border: 1px solid #b9b9b9;
							width: 20px;
							height: 20px;
							text-align: center;
							color: #555555;
							padding: 0;
							line-height: 15px;
							cursor: pointer;
							display: inline-block;
							vertical-align: middle;
						}
					}
					&.id,
					&.action {
						width: 90px;
					}
					&.status {
						width: 100px;
					}
				}

				button {
					height: auto;
					width: auto;
					padding: 2px 10px;
					vertical-align: baseline;
					width: 70px;
					&.lget {
						background-color: #c43312;
					}
					&.got {
						background-color: #8c8c8c;
					}
				}

				&.amk-h {
					background: #3a3a3a;
					color: white;
				}
			}
		}
	}
}

.notif {
	position: fixed;
	z-index: 1000;
	width: 250px;
	left: 0;
	right: 0;
	margin: auto;
	background: white;
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
	padding: 12px 20px;
	top: -50px;
	font-weight: bold;
	border: none;
	color: white;
	color: #484848;
	transition: all 0.5s;
}

@keyframes skeleton-loading {
	0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

@-webkit-keyframes pulse {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
	}
}

@keyframes pulse {
	0% {
		-moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
		box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
		box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
		box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
	}
}

@keyframes loader {
	0% {
		width: 15%;
		transform: rotate(0deg);
	}
	10% {
		left: 0%;
		transform: rotate(0deg);
	}
	20% {
		width: 0%;
		left: 25%;
	}
	30% {
		width: 30%;
	}
	50% {
		left: 15%;
		width: 40%;
	}
	70% {
		width: 35%;
		left: 18%;
		transform: rotate(240deg);
	}
	90% {
		width: 35%;
		left: 10%;
	}
	100% {
		width: 2%;
		left: 25%;
		transform: rotate(360deg);
	}
}

@keyframes pan {
	0% {
		transform: rotate(0deg);
		transform-origin: top right;
	}
	10% {
		transform: rotate(-2deg);
		transform-origin: top right;
	}
	50% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes shadow {
	0% {
		width: 30%;
	}
	50% {
		width: 40%;
		left: 20px;
	}
	100% {
		width: 30%;
	}
}
